/* Importing the "normalize.css" file which is for resetting all the default css values */
@import url("./normalize.css");

/* Importing Fonts */
@import url('http://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ******Main & Secondary Colors****** */
:root {
  --bg_color: #fff;
  --primary: #2c3e50;
  /* --primary: #202c38; */
  --primary_light: #34495e;
  --secondary: #ec5242;
  --neutral: #d3d3d3;
  --lato: "lato", verdana, tahoma, sans-serif;
  --verdana: verdana, tahoma, sans-serif;
  --Tahoma: tahoma, verdana, sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
  --open-sans: "Open Sans", sans-serif;
}

/* **********Global Classes********** */
.container {
  font-family: var(--open-sans);
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: 0;
}

.underline {
  height: 2.5px;
  background-color: var(--primary);
  width: 100%;
}

.title h1,
h2,
h3 {
  margin: 0;
}

/* ======================================Header Start====================================== */
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  height: 5rem;
  padding: 5px 45px;
  margin: 0;
}

.desktop-menu nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* gap: 15px; */
  background-color: var(--primary_light);
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  width: 100%;
  height: 50px;
  /* padding: 0 15px; */
  /* height: 3rem; */
  position: relative;
} 

.desktop-menu nav a {
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--neutral);
  width: 100px;
  position: relative;
  z-index: 1;
} 

nav .animation {
  position: absolute;
  background: #1abc9c;
  border-radius: 8px;
  top: 0;
  height: 100%;
  z-index: 0;
  transition: all .5s ease;
}

nav a:nth-child(1) {
  width: 120px;
}

nav .start-home,a:nth-child(1):hover~.animation {
  width: 120px;
  left: 0;
}

nav a:nth-child(2) {
  width: 100px;
}

nav .start-form,a:nth-child(2):hover~.animation {
  width: 100px;
  left: 120px;
}

nav a:nth-child(3) {
  width: 100px;
}

nav .start-contact,a:nth-child(3):hover~.animation {
  width: 100px;
  left: 220px;
}

nav a:nth-child(4) {
  width: 100px;
}

nav .start-about,a:nth-child(4):hover~.animation {
  width: 100px;
  left: 320px;
}
/* =======================================Header End======================================= */

/* ======================================Navigation Start==================================== */
.navigation {
  width: 100%;
  height: auto;
  background-color: var(--primary);
  padding: 0;
  margin: 0;
}

/* =======================================Navigation End===================================== */

/* =====================================Main-Wrapper Start=================================== */
.main-wrapper {
  padding-top: 6rem; /* change to 5rem */
}

.main-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: bold;
  color: var(--primary);
  padding: 5px 85px;
  width: 100%;
}

/* ======================================Main-Wrapper End==================================== */

/* =============================Books-Collection-Section Start============================= */
.books-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: auto;
  width: 100%;
  height: auto;
  background-color: var(--bg_color);
  padding: 20px 65px;
}

.books-collection .title {
  text-align: center;
  padding: 25px;
}

.books-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--primary);
  width: 100%;
}

.book-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  background-color: var(--bg_color);
  width: 100%;
  padding: 10px 25px;
}

.book-item:nth-child(odd) {
  background-color: var(--neutral);
}

.book-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.book-info h2,
h3 {
  margin: 0;
}

/* ==============================Books-Collection-Section End============================== */

/* ================================Books-Form-Section Start================================ */
.books-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: auto;
  width: 100%;
  gap: 15px;
  background-color: var(--bg_color);
  height: auto;
  padding: 35px 65px;
}

.books-form .title {
  text-align: center;
  padding: 10px;
}

.form-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  background-color: var(--neutral);
  list-style: none;
  gap: 15px;
  padding: 45px;
  border-radius: 16px;
  margin: 0;
  width: 100%;
}

.form-list li input {
  border: 2px solid var(--primary);
  border-radius: 8px;
  min-width: 10rem;
  width: 100%;
  height: 2rem;
}

.normal-btn {
  box-shadow: 3px 3px;
  border: 2px solid var(--primary);
  min-width: 45px;
  min-height: 25px;
}

/* =================================Books-Form-Section End================================= */

/* ==================================Footer-Section Start================================== */
footer {
  font-family: var(--open-sans);
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  width: 100%;
  min-height: 100px;
  padding: 35px 65px;
}

footer .social-icons,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  width: 100%;
}

footer .social-icons li,
footer .menu li {
  list-style: none;
}

footer .social-icons li a {
  display: inline-block;
  font-size: 2em;
  color: var(--neutral);
  margin: 0 10px;
  transition: 0.5s;
  opacity: 0.75;
}

footer .social-icons li a:hover {
  transform: translateY(-10px);
  opacity: 1;
}

footer .menu li a {
  font-size: 1.2em;
  color: var(--neutral);
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--neutral);
  gap: 5px;
}
/* ===================================Footer-Section End=================================== */

/* ====================================Media Query Start==================================== */

/*******  First Breakpoint  *******/
@media screen
  and (min-width: 586px) {
  .form-list li input {
    min-width: 25rem;
    height: 2.5rem;
  }
}

/*******  Second Breakpoint  *******/
@media screen
  and (min-width: 768px) {
  .books-collection {
    padding: 35px 165px;
  }
}

/* =====================================Media Query End===================================== */
